@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cashflow {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;

}

#cashflow * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#cashflow .dice {
	background: transparent;
	border: 1px solid #cccccc;
	border-radius: 7px;
	outline: none;
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: block;
	width: 50px;
	height: 50px;
	font-size: 24px;
	font-weight: 900;
}

#cashflow .dice:after {
	content: attr(data-content);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#cashflow .boton {
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

#cashflow .boton.comenzar {
	margin: 15px auto 0;
}

#cashflow #statements {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .25);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: left .3s;
	visibility: hidden;
}

#cashflow #statements:after {
	content: 'Estado Financiero';
	display: block;
	width: 170px;
	padding: 15px;
	position: absolute;
	bottom: 15%;
    left: 100%;
    transform: translate(0%, -100%) rotate(90deg);
    transform-origin: bottom left;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 1px solid #cccccc;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .2em;
	background: #eeeeee;
}

#cashflow #statements .container {
	background: white;
	border-radius: 5px;
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#cashflow #statements .container .section {
	background: white;
	border-radius: 5px;
	padding: 15px;
}

#cashflow #statements .container .section .title {
	background: #cccccc;
	padding: 10px 15px;
}

#cashflow #statements .container .section table tr th {
	padding: 10px;
	border-bottom: 2px solid #333333;
}

#cashflow #statements .container .section table tr th:first-of-type {
	text-align: left;
}

#cashflow #statements .container .section table tr td {
	padding: 10px;
	border-bottom: 1px solid #333333;
}

#cashflow #statements .container .section table tr td:last-of-type {
	text-align: center;
}

#cashflow #statements .container .section.rat-race {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cashflow #statements .container .section.resumen {
	display: flex;
    align-items: center;
}

#cashflow #statements .container .section.resumen table tr th, #cashflow #statements .container .section.resumen table tr td {
	border: none;
}

#cashflow #statements .container .section.resumen table tr:last-of-type td {
	border-top: 2px solid #333333;
}



















